[Unit]
Description=ngrok service to forward vnc port
After=network.target display-manager.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
User=nuc
ExecStart=/usr/local/bin/ngrok start vnc

[Install]
WantedBy=multi-user.target
